@font-face {
  font-family: 'poppins-normal';
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'poppins-normal', sans-serif;
}

body {
  background: beige;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.headerBar {
  padding-top: 30px;
  background-color: #f0ead3;
}

.main-text {
  padding: 20px;
  background: beige;
  color: black;
}

.container {
  padding: 20px;
}

.section-title {
  background: DarkGreen;
  color: white;
}

.section-about-us {
  background: #f0ead3;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 70px;
}

footer {
  background-color: #2e2e2e;
}

.strength {
  width: 25%;
  display: inline-block;
  position: relative;
  height: 100%;
  bottom: 7px;
}

#strength-bar,
#strength-bar-provider {
  background-color: #dcdcdc;
  height: 10px;
  position: relative;
}

.btn-submit {
  background-color: rgb(251, 157, 98) !important;
}

.button_profil {
  display: flex;
  flex-direction: column;
}
.button_profil a {
  text-decoration: none;
  color: white;
}
.button_profil a:hover {
  text-decoration: none;
  color: white;
}

#exportData {
  background-color: #255c15 !important;
}

.btn-read {
  background-color: #089f58 !important;
}

.btn-update {
  background-color: #011170 !important;
}

.btn-ban {
  background-color: #9f0f08 !important;
  color: white !important;
}

.btn-read,
.btn-update,
.btn-ban {
  transition: 0.5s !important;
}
.btn-read:hover {
  background-color: #014927 !important;
  transform: scale(1.1);
  transition: 0.5s !important;
}
.btn-ban:hover {
  background-color: #620803 !important;
  transform: scale(1.1);
  transition: 0.5s !important;
}
.btn-update:hover {
  background-color: #00093f !important;
  transform: scale(1.1);
  transition: 0.5s !important;
}

#msg,
#msg-provider {
  width: 100%;
  text-align: left;
}

.logs {
  background-color: #068e0c !important;
  color: white !important;
}

.exportData {
  background-color: #011170 !important;
  color: white !important;
}

#logs {
  display: flex;
  justify-content: center;
}

#footer {
  margin-top: auto;
}

#form {
  background-color: rgb(239, 234, 211);
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  #svg-footer {
    display: none;
  }
}

.no-dot {
  list-style-type: none;
}

.absolute {
  position: absolute;
  width: 61%;
  z-index: 10000;
}

.search-suggestion {
  background-color: white;
  padding: 5px;
  padding-left: 20px;
  color: black;
}

.search-suggestion:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.table-color {
  background-color: black;
}
