.button {
  -fx-background-color: #157347;
}

.button:hover {
  -fx-background-color: #0f5e39;
}

.button:pressed {
  -fx-background-color: #15b269;
}

.background {
  -fx-background-color: #a4a4a4;
}

.backgroundChart {
  -fx-background-color: #f5f5f5;
}

.backgroundConnection {
  -fx-background-color: #0f5e39;
}

.btnConnect {
  -fx-background-color: #15b269;
}

.btnExit {
  -fx-background-color: #f44336;
}

.btnExit:hover {
  -fx-background-color: #e53935;
}

.btnExit:pressed {
  -fx-background-color: #ef5350;
}
